/* Copyright: 2boom 2023-24 */
:root {
	--mred: #FF9D9F;
	--myellow: #FFD38C;
	--mgreen: #CBE070;
    --mdarkgreen: #11893A;
    --mdarkred: #C53131;
	--mblue: #9FADE3;
	--mviolet: #AE8FC0;
	--mdarkblue: #0881d8;
	--mbutbkghv: #0056b3;
	--mbutbkgac: #003d7a;
	--mmesborder: #ccc;
}

:active,
:focus {
	outline: none !important;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-scheme-background: #252525;
		--color-scheme-text-color: white;
		--mapp: #B9B9C8;
		/* app name */
		--mdesc: #B9B9C8;
		/* app description */
		--mbkg: #383838;
		/* app background */
		--msbkg: #2B2B2B;
		--mhbkg: #454545;
		/* app hower background */
		--mhbor: #FF595E;
		/* app hower border */
		--mborder: #666666;
		--mactive: #B9B9C8;
		--minactive: #FF5C5F;
		--mexited: #F9B236;
		--mmenu: #969696;
		--hoo: #454545;
		--imgbkg: #2B2B2B;
		--mheader: #000000;
		--msearch: #2B2B2B;
		--mplaceholdertext: #7b7b7b;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--color-scheme-background: #f2f2f2;
		--color-scheme-text-color: #424251;
		--mapp: #313140;
		/* app name */
		--mdesc: #696969;
		/* app description */
		--mbkg: #F5F5F5;
		/* app background */
		--msbkg: #FAFAFA;
		--mhbkg: #EEEEEE;
		/* app hower background */
		--mhbor: #FF6368;
		/* app hower border */
		--mborder: #CFCFCF;
		--mmenu: #969696;
		--mactive: #5E6E18;
		--minactive: #FF5C5F;
		--mexited: #F9B236;
		--hoo: #FBFBFB;
		--imgbkg: #EBEBEB;
		--mheader: #FFFFFF;
		--msearch: #FBFBFB;
		--mplaceholdertext: #808080;
	}
}

html {
	background: var(--color-scheme-background);
	color: var(--color-scheme-text-color);
}

html,
body {
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 1em;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

textarea:focus {
	border-color: var(--mdarkblue);
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.MessageBox {
	display: block;
	box-sizing: content-box;
	max-height: 89vh;
	overflow-y: auto;
	margin: 1.0em auto 1.5em auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
	width: 28em;
    
}

.message {
	padding: 0.4em;
	word-wrap: break-word;
	width: 100%;
}

.copy-btn, .strike-btn {
	background: transparent;
	border: none;
	color: var(--mmenu);
	cursor: pointer;
	padding: 0.2em;
	font-size: 0.9em;
	transition: color 0.2s ease;
}

.strike-btn {
	background: transparent;
	border: none;
	color: var(--mmenu);
	cursor: pointer;
	padding: 0.2em;
	font-size: 0.9em;
	transition: color 0.2s ease;
}

.delete-btn {
	background: transparent;
	border: none;
	color: var(--mmenu);
	cursor: pointer;
	padding: 0.2em;
	font-size: 0.9em;
	transition: color 0.2s ease;
}
.strike-btn:hover {
	color: var(--mdarkblue);
}

.copy-btn:hover {
	color: var(--mdarkgreen);
}

.delete-btn:hover {
	color: var(--mdarkred);
}

.delete-btn i {
	pointer-events: none;
}

.time {
	margin-top: 0.2em;
	font-size: 0.9em;
	text-align: left;
	color: var(--mactive);
}

textarea {
	resize: none;
	font-size: 0.9em;
	padding: 0.5em;
	font-family: "Segoe UI", Tahoma, sans-serif;
	line-height: 1.2em;
	color: var(--color-scheme-text-color);
	border-radius: 4px;
	outline: none;
	width: 100%;
	height: 1.2em;
	white-space: pre-wrap;
	word-wrap: break-word;
} 

#messages {
	padding: 1.0em;
	font-size: 1.0em;
}

#messageForm {
	display: flex;
    position: fixed;
    bottom:2em;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
	position: fixed;
	bottom: 1em;
	width: 100%;
	min-width: 20em;
	max-width: 33em;
	left: 50%;
	transform: translateX(-50%);
} 

#message {
	flex: 1;
	font-size: 1em;
    
	padding: 10px;
	border-radius: 20px;
	color: var(--color-scheme-text-color);
	background-color: var(--color-scheme-background);
	outline: none;
}

#messageForm textarea:focus, #messageForm button:focus {
    outline: none;
	box-shadow: none;
}


#messageForm button {
    display: flex;
	padding: 10px 10px;
	font-size: 1em;
	font-weight: bold;
	color: white;
    justify-content: center;
    align-items: center;
    background-color: var(--mborder);
	border: none;
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	cursor: pointer;
}

#messageForm button:hover {
	background-color: var(--mbutbkghv);
}

#messageForm button:active {
	background-color: var(--mbutbkgac);
	transform: translateY(0);
}

#message::placeholder {
	color: var(--msbkg);
	opacity: 1;
}

@media (max-width: 600px) {
	#messageForm {
    width: 92%;
    }
    .footer
    {
		display: none;
	}
	.MessageBox {
		max-height: 90vh;
	}
}
   
.footer {
    position: fixed;
    right: 2em;
    bottom: 0px;
    width: 100%;
    text-align: right;
    height: 26px;
    font-size: 0.8em;
    font-weight: 400;
    z-index: 1000;
    color: var(--mborder);
    background-color: transparent; 
}

/*****************/

#scrollControls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    flex-direction: row;
    gap: 10px;
}

#toggleMessageForm {
    position: fixed;
    bottom:4.6em;
    right: 1.0em;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--mborder);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    cursor: pointer;
    z-index: 1000;
}

#toTop {
    position: fixed;
    bottom: 11em;
    right: 1.0em;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--mborder);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    cursor: pointer;
    z-index: 1000;
}

#toTop:hover, #toBottom:hover, #toggleMessageForm:hover {
    background-color: var(--mbutbkghv);
}

#toBottom {
   position: fixed;
    bottom: 8.0em;
    right: 1.0em;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--mborder);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    cursor: pointer;
    z-index: 1000;
}

#scrollControls button:hover {
   background-color: var(--mbutbkghv);
}

.link:hover {
	color: var(--mdesk);
}

.link {
	text-decoration: none;
	color: var(--mborder);
}
/******************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    vertical-align: top;
}