<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="public, max-age=3600">
    <meta http-equiv="Expires" content="Wed, 06 Dec 2024 12:00:00 GMT">
    <meta http-equiv="Pragma" content="cache">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='mstile-144x144.png') }}">
    <title>WebNtfy</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='all.min.css') }}">
</head>
<body>
    <div id="confirmBox" class="confirm">
        <div class="confirm-content">
            <p id="confirmMessage">Are you sure you want to remove this channel?</p>
            <button id="confirmYes">Yes</button>
            <button id="confirmNo">No</button>
        </div>
    </div>
    <div id="alertBox" class="alert"></div>
    <div class="MessageBox" id="messages"> </div>
    <div id="scrollControls" style="display: none;">
        <button id="selectChannel" title="Select Channels" aria-label="select-Channel">
            <i class="fas fa-stream"></i>
        </button>
        <button id="addChannel" title="Add Channel" aria-label="add-Channel">
            <i class="fas fa-plus-square"></i>
        </button>
        <button id="removeChannel" title="Remove Channel" aria-label="Remove-Channel" onclick="removeChannel()">
            <i class="fas fa-trash-alt"></i>
        </button>
        <button id="toTop" title="First Message" aria-label="To-Top" onclick="scrollToTop()">
            <i class="fas fa-arrow-up"></i>
        </button>
        <button id="toBottom" title="Last Message" aria-label="To-Bottom" onclick="scrollToBottom()">
            <i class="fas fa-arrow-down"></i>
        </button>
        <button id="toggleMessageForm" title="Write Message" aria-label="Input-Form" onclick="toggleMessageForm()">
            <i class='fas fa-comment'></i>
        </button>
        <form id="channelForm" style="display: none;">
            <select id="channel" name="channel" aria-label="Select Channel">
                {% for ch in channels %}
                <option value="{{ ch }}" {% if ch == channel %}selected{% endif %}>{{ ch }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    
    <div id="messageContainer" style="display: none;">
        <form id="messageForm" autocomplete="off">
            <div id="messageInputWrapper">
                <textarea id="message" placeholder="Unload your brain here..." rows="1"></textarea>
                <button type="submit" aria-label="Send" id="sendButton">Send</button>
            </div>
        </form>
    </div>
    <div id="footer">WebNtfy, &copy; 2boom, 2024-25</div>
</body>
</html>